<div class="card p-1">
    <div class="card-img-wrapper text-center ">
        <img src="assets/images/houseimg.png" class="card-img-top" />
        <ul class="list-inline member-icon popup-member-icon">
            <li class=" list-inline-item"><button class="btn btn-primary"><i class="fas fa-eye"></i></button></li>
            <li class="list-inline-item"><button class="btn btn-primary"><i class="fas fa-phone-volume"></i></button></li>
        </ul>
    </div>
    
    
<div class="card-body p-1">    
<h1>{{property.Name}}</h1>
<h2>{{property.Type}}</h2>
<h3>{{property.Price}}</h3>

</div>
</div>

