.photo-control
{
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    margin: 5px;
}
.btn-group>label[ng-reflect-btn-radio]
{
    border-radius: 50px;
    padding: 0 15px;
    line-height: 25px;
}