.ng-invalid.ng-touched
{
    border-color: red;
}
.error-block
{
    color:red;
}

.card-header > h1, .card-header > h2, .card-header > h3{

    color: white;
}

.card-header{
    height: 42px;
    padding:4px 10px !important;
    background-color: #007bff !important;
}